Задача 44

In [1]:
import random  
lst = ['robot'] * 10  
lst += ['human'] * 10  
random.shuffle(lst)  
data = pd.DataFrame({'whoAmI':lst})  
data.head()

NameError: name 'pd' is not defined

In [2]:
import pandas as pd
import random 
lst = ['robot'] * 10  
lst += ['human'] * 10  
random.shuffle(lst)  
data = pd.DataFrame({'whoAmI':lst})
data.head(10)

  whoAmI
0  robot
1  robot
2  robot
3  robot
4  human
5  human
6  human
7  human
8  human
9  human

In [3]:
pd.get_dummies(data['whoAmI']).head(10)

   human  robot
0  False   True
1  False   True
2  False   True
3  False   True
4   True  False
5   True  False
6   True  False
7   True  False
8   True  False
9   True  False

In [4]:
pd.DataFrame({'human': data['whoAmI'] == 'human',
              'robot': data['whoAmI'] == 'robot'}).astype(int).head(10)

   human  robot
0      0      1
1      0      1
2      0      1
3      0      1
4      1      0
5      1      0
6      1      0
7      1      0
8      1      0
9      1      0